sharepoint_list___empty_list/Microsoft.Flow/flows/268b4ff2-6881-4dba-a73c-9dc8165ecb95/definition.json
{"name":"be46e175-1668-4885-8c4c-160b4d9726c3","id":"/providers/Microsoft.Flow/flows/be46e175-1668-4885-8c4c-160b4d9726c3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Modification de liste en masse : vider la liste","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-07T14:38:56.6118646Z","flowclientsuspensionreasondetails":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"40e56eb3-fce4-4c43-9840-f7bb296f61ce"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"b7f14d17-77df-4c9d-b172-614d85c07d07"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"043e9518-a62c-4059-a417-902cddc63431","$top":1000},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@body('Get_items')","actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Delete_item":{"runAfter":{},"metadata":{"operationMetadataId":"a28b5ad2-eee9-4154-860b-e36e951879c4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"043e9518-a62c-4059-a417-902cddc63431","id":"@items('Apply_to_each_2')?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"6f644051-85d1-4133-bc6c-17cff94435bc"},"type":"Foreach"}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"259287ca-9664-41a0-8c75-b2c48066213e"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-5222d55b-8b70-48fe-8b20-f7212ed921be","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}