sharepoint_list___remove_duplicates/Microsoft.Flow/flows/4656a338-021b-46f7-9a8e-cb3dce4cf5f5/definition.json
{"name":"6c2d01f3-46b0-4cb0-acb1-42cd7b66bfb6","id":"/providers/Microsoft.Flow/flows/6c2d01f3-46b0-4cb0-acb1-42cd7b66bfb6","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Modification de liste en masse : supprimer les doublons","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-08T14:37:57.686044Z","flowclientsuspensionreasondetails":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"34265007-80ef-4789-b671-0aac6c44de79"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"14f686d1-ab0d-4ac8-b039-1ee611615c77"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"47270505-3e41-4169-a48f-f917b1016520","$filter":"ID ne null"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Get_duplicates":{"runAfter":{},"metadata":{"operationMetadataId":"a841ce45-3bed-44eb-87dc-640f3cb0311d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"47270505-3e41-4169-a48f-f917b1016520","$filter":"Titre_brut eq '@{items('Apply_to_each_2')?['Titre_brut']}'","$orderby":"ID asc"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_duplicates')?['body/value']","actions":{"Condition":{"actions":{"Delete_item":{"runAfter":{},"metadata":{"operationMetadataId":"01a79e4d-2d2c-40b2-9209-cdb5d179ebf6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"47270505-3e41-4169-a48f-f917b1016520","id":"@items('Apply_to_each_3')?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"not":{"equals":["@items('Apply_to_each_3')?['ID']","@variables('current_first_item')?['ID']"]}},"metadata":{"operationMetadataId":"474c57d2-e809-48d0-b17b-d130a0d1b557"},"type":"If"}},"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b26b09db-0d72-480f-b915-d9597ec4fb4b"},"type":"Foreach"},"Set_variable":{"runAfter":{"Get_duplicates":["Succeeded"]},"metadata":{"operationMetadataId":"e8b03b12-9caa-402e-a6c1-a0efc444fc34"},"type":"SetVariable","inputs":{"name":"current_first_item","value":"@first(outputs('Get_duplicates')?['body/value'])"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"366e950c-7999-4b71-b94a-5de0e0b8eafe"},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"860d243d-6040-4f2d-8699-ece843da3cbe"},"type":"InitializeVariable","inputs":{"variables":[{"name":"current_first_item","type":"object"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-5222d55b-8b70-48fe-8b20-f7212ed921be","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}