write_only_access_to_excel_table_using_outlook/Microsoft.Flow/flows/a9329721-f123-4602-b5a6-6b4355157270/definition.json
{"name":"311a6d02-73ed-41c2-b51b-eda60054b0ec","id":"/providers/Microsoft.Flow/flows/311a6d02-73ed-41c2-b51b-eda60054b0ec","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Motivoscope","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-08-19T14:24:48.615957Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"3a0aea5b-6e74-40bf-acd1-ce891e18fe7d"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_emails_(V3)":{"runAfter":{},"metadata":{"Id::AAMkADU0OWQxNTlhLWU1YWYtNDNhMi05Njc2LTgxMGZmMjE2ZmFhMQAuAAAAAABATjY2SoenTafvebDgaGY7AQCen9vzcFnXR72zSXcvNEFPAAABGutaAAA=":"Motivations","operationMetadataId":"545be5bb-7e1a-4eba-ae40-919177a6e692"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"parameters":{"folderPath":"Id::AAMkADU0OWQxNTlhLWU1YWYtNDNhMi05Njc2LTgxMGZmMjE2ZmFhMQAuAAAAAABATjY2SoenTafvebDgaGY7AQCen9vzcFnXR72zSXcvNEFPAAABGutaAAA=","fetchOnlyUnread":false,"includeAttachments":false,"top":10,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Add_a_row_into_a_table":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"016XNII6NYTEMWEPLHAJEIUSX43WNP2DRW":"/Motivoscope/synthese_motivation_securise.xlsx","operationMetadataId":"0cc31418-d516-4602-ba6f-34a592d79741","tableId":"{613266BB-9235-43C0-AD12-CE9FC05FB304}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!7hBROMffn0Kq0SoOFqf4TYAF5aDPG41DkXKJ0k6VAL1bUOM5R8Z_Rqe6TTPiKAki","file":"016XNII6NYTEMWEPLHAJEIUSX43WNP2DRW","table":"{613266BB-9235-43C0-AD12-CE9FC05FB304}","item/Nom repondant":"@body('Parse_JSON')?['Nom repondant']","item/Date":"@body('Parse_JSON')?['Date']","item/Version formulaire":"@body('Parse_JSON')?['Version formulaire']","item/Ambiance au sein de l'equipe":"@body('Parse_JSON')?['Ambiance au sein de lequipe']","item/Objectifs clairs et motivants":"@body('Parse_JSON')?['Objectifs clairs et motivants']","item/Contenu et sens de la mission":"@body('Parse_JSON')?['Contenu et sens de la mission']","item/Developpement des competences":"@body('Parse_JSON')?['Developpement des competences']","item/Conditions de travail":"@body('Parse_JSON')?['Conditions de travail']","item/Equilibre ~1 harmonie pro-perso":"@body('Parse_JSON')?['Equilibre / harmonie pro-perso']","item/Perspectives d'evolution":"@body('Parse_JSON')?['Perspectives devolution']","item/Signes de reconnaissance":"@body('Parse_JSON')?['Signes de reconnaissance']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"4cbaa741-c560-4180-8d17-81ca7d616192"},"type":"ParseJson","inputs":{"content":"@replace(variables('current_body'), decodeUriComponent('%0D%0A'), ' ')","schema":{"type":"object","properties":{"Nom repondant":{"type":"string"},"Date":{"type":"string"},"Version formulaire":{"type":"string"},"Qualite de la relation avec le N1":{"type":"string"},"Objectifs clairs et motivants":{"type":"string"},"Contenu et sens de la mission":{"type":"string"},"Developpement des competences":{"type":"string"},"Conditions de travail":{"type":"string"},"Equilibre / harmonie pro-perso":{"type":"string"},"Signes de reconnaissance":{"type":"string"},"Ambiance au sein de lequipe":{"type":"string"},"Perspectives devolution":{"type":"string"}}}}},"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e73468d3-ced7-4af3-bc4f-5af87a0854c6"},"type":"SetVariable","inputs":{"name":"current_body","value":"@items('Apply_to_each_2')?['body']"}},"Delete_email_(V2)":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"f531c2c3-1f4c-413b-9fd1-295abd2fe3b5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"DeleteEmail_V2"},"parameters":{"messageId":"@items('Apply_to_each_2')?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"5f390b1f-3a02-490c-b2d6-d4237c4162e7"},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Get_emails_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"704be03e-26d7-4a7c-8353-a6b32dd2a7c3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"current_body","type":"string","value":"\"\""}]}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-a67e78af-10a5-463f-9a17-ad5e5a0d5680","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"c81afe65f20f4d63888c5a922ade0e39","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}