sharepoint_list___import_excel_array_in_existing_list/Microsoft.Flow/flows/cd311e4a-c77f-409f-8b25-34704024d29b/definition.json
{"name":"f827acc3-d9c3-4ff1-b163-cb4cf2eb3b09","id":"/providers/Microsoft.Flow/flows/f827acc3-d9c3-4ff1-b163-cb4cf2eb3b09","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Modification massive de liste : importer Tableau depuis Excel","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-07T15:43:45.15904Z","flowclientsuspensionreasondetails":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4ab2de84-b0f7-4b7d-b4e8-0bbc0c649a28"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"016XNII6LR5NZRDXGXARHKKKEOEHFCG7IE":"/Power Platform - working folder/Power Automate/Sharepoint List Import.xlsx","operationMetadataId":"d8231665-b20e-42fb-b18d-57cc265aa59e","tableId":"{01815A44-5BA5-45A3-9577-92730B7D2DDD}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!7hBROMffn0Kq0SoOFqf4TYAF5aDPG41DkXKJ0k6VAL1bUOM5R8Z_Rqe6TTPiKAki","file":"016XNII6LR5NZRDXGXARHKKKEOEHFCG7IE","table":"{01815A44-5BA5-45A3-9577-92730B7D2DDD}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"ab83e78e-0045-4a36-b581-69d8f762b931"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"043e9518-a62c-4059-a417-902cddc63431","item/Title":"@items('Apply_to_each')?['Nom']","item/R_x00e9_sum_x00e9_":"@items('Apply_to_each')?['Résumé brut']","item/Pertinence":"@items('Apply_to_each')?['Pertinence']","item/NomfluxRSSsource":"@items('Apply_to_each')?['Nom flux RSS source']","item/Titrebrut":"@items('Apply_to_each')?['Titre brut']","item/URLbrute":"@items('Apply_to_each')?['URL brute']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"c25f2eba-0aff-4e82-ad4d-012f5252255f"},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"c81afe65f20f4d63888c5a922ade0e39","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-5222d55b-8b70-48fe-8b20-f7212ed921be","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}