sharepoint_list___transfert_column_data_to_another_column/Microsoft.Flow/flows/d3cc3847-e80e-46b4-b182-7d3542bca1d8/definition.json
{"name":"ebbe6319-4dd9-40a0-92cc-06b21238c2c3","id":"/providers/Microsoft.Flow/flows/ebbe6319-4dd9-40a0-92cc-06b21238c2c3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Modification massive de liste : transfert de colonne","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-01T15:44:17.4095187Z","flowclientsuspensionreasondetails":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7874c985-20c4-48ca-82f0-29b5b898808c"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"24979378-780e-4592-ab14-6a4543fb3e38"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"043e9518-a62c-4059-a417-902cddc63431","id":"@items('Apply_to_each_2')?['ID']","item/Title":"@items('Apply_to_each_2')?['Title']","item/Titrebrut":"@items('Apply_to_each_2')?['Title']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"ac077337-2308-46c9-a851-bb8111b4f13f"},"type":"Foreach"},"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"11c8956d-324a-41a6-a9ef-0100dc56d960"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ingeropgroup-my.sharepoint.com/personal/ronan_deshays_ingerop_com","table":"043e9518-a62c-4059-a417-902cddc63431","$filter":"Titrebrut eq null"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-5222d55b-8b70-48fe-8b20-f7212ed921be","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}