save_all_teams_team_messages/Microsoft.Flow/flows/7559b22e-cd91-4d6c-b10e-c00fa9fa7a16/definition.json
{"name":"1e9a292a-6a68-4175-aae5-b5d1359daf60","id":"/providers/Microsoft.Flow/flows/1e9a292a-6a68-4175-aae5-b5d1359daf60","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Save all Teams team messages","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-10-26T13:10:53.3638042Z","connectionKeySavedTimeKey":"2023-10-26T13:05:13.5584862Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"089de980-32d0-48cb-ae0c-e22f8ee52c18"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_teams":{"runAfter":{},"metadata":{"operationMetadataId":"a13b0337-bfb7-491e-95fc-740f11720b90"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetAllTeams"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('List_teams')?['body/value']","actions":{"List_channels":{"runAfter":{},"metadata":{"operationMetadataId":"95c9becc-b383-44e8-a6fc-bee85b842f18"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetChannelsForGroup"},"parameters":{"groupId":"@items('Apply_to_each_2')?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_channels')?['body/value']","actions":{"Get_messages":{"runAfter":{},"metadata":{"operationMetadataId":"6e0400dc-dc72-492c-b334-45d6125ae45c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetMessagesFromChannel"},"parameters":{"groupId":"@items('Apply_to_each_2')?['id']","channelId":"@items('Apply_to_each')?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_messages')?['body/value']","actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"016XNII6KFVH5QSJMWIZDZSZYIFQCO3UOR":"/1 - depot/Power Platform - working folder/Power Automate/Teams save.xlsx","operationMetadataId":"6ff3eda4-41d4-42e7-8127-4f3cff0daad8","tableId":"{74D04257-D0B8-43A1-925D-C4CE4BCF1513}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!7hBROMffn0Kq0SoOFqf4TYAF5aDPG41DkXKJ0k6VAL1bUOM5R8Z_Rqe6TTPiKAki","file":"016XNII6KFVH5QSJMWIZDZSZYIFQCO3UOR","table":"{74D04257-D0B8-43A1-925D-C4CE4BCF1513}","item/date":"@items('Apply_to_each_3')?['createdDateTime']","item/author":"@items('Apply_to_each_3')?['from/user/displayName']","item/body":"@items('Apply_to_each_3')?['body/content']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_messages":["Succeeded"]},"metadata":{"operationMetadataId":"f3c8ea0e-56c6-4086-82f1-0db9a8315944"},"type":"Foreach"}},"runAfter":{"List_channels":["Succeeded"]},"metadata":{"operationMetadataId":"9ade5f9a-5f10-4fe9-b48a-7ad733bf4c9b"},"type":"Foreach"}},"runAfter":{"List_teams":["Succeeded"]},"metadata":{"operationMetadataId":"740c201e-583d-4d81-9348-cb52c62e3655"},"type":"Foreach"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-01e2e3f5-ac18-470b-9e13-04ded7fd8bd9","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"c81afe65f20f4d63888c5a922ade0e39","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}